.mycart {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: white;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 12.1%;
    border-radius: 8px;
}

td {
    padding: 10px;
}